<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Posts:</strong>
  <%= @user.posts %>
</p>

<<<<<<< HEAD
<% @posts.each do |post| %>
<div class="dash-review">
 <h2><%= link_to post.title, post_path(post.id) %></h2>
 <h5><%= post.user.name%></h5>
 <p><%= post.body %></p>
</div>
<%end%>

=======
>>>>>>> 06db2904bcca9c8a3857be579054a2f5ba3409a2
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
